{% extends 'base.html' %}
{% load static %}
{% block title %} 我的美食評論3 {% endblock %}
{% block page-title %} 我的美食評論3 {% endblock %}
{% block main-content %}
<div class="row">
    <div class="col-7">
        <h4 class="alert alert-primary">現有評論列表</h3>
        <table class="table table-striped table-sm">
            <tr><th>餐點</th><th>類型</th><th>分數</th><th>評論</th></tr>
        {% for review in reviews %}
            <tr>
                <td>
                    <a href="{{ review.photo.url }}">
                        {{ review.food }}
                    </a>
                </td>
                <td> 
                    {{ review.food_type }}
                </td>
                <td>
                    {{ review.score }}星
                </td>
                <td>
                    {{ review.review | linebreaks}}
                </td>
            </tr>
        {% empty %}
            <tr><td colsapn=4>目前尚無任何評論歷史資料</td></tr>
        {% endfor %}
        </table>
    </div>
    <div class="col-5">
        <form action="/ftest/review3/" method="POST" enctype="multipart/form-data"
              class="form-sm form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input type="submit" value="送出評論" class="btn btn-sm btn-primary">
        </form>
    </div>
</div>
{% endblock %}
