{% extends 'base.html' %}
{% block title %} BMI {% endblock %}
{% block page-title %} BMI {% endblock %}
{% block main-content %}
<div align="center">
    <table class="table table-striped">
        <tr>
            <th>姓名</th><th>身高</th><th>體重</th><th>BMI</th>
        </tr>
    {% for item in data.iterrows %}
        <tr>
            <td> {{ item.1.name }} </td>
            <td> {{ item.1.height }} </td>
            <td> {{ item.1.weight }} </td>
            <td> {{ item.1.BMI }}</td>
        </tr>
    {% empty %}
        <tr><td colspan=4>沒有任何資料可以顯示</td></tr>
    {% endfor %}
    </table>
</div>  
{% endblock %}